@import '~bulma/bulma.sass';

.wrapper {
  position: relative;
  transition: 250ms opacity linear, 250ms transform linear, 250ms filter linear;

  &.loading {
    opacity: 0;
    transform: translateY(-25px);
  }
}