.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff3860;
  animation-duration: 25000ms;
  animation-name: start;
  animation-fill-mode: forwards;
  transform-origin: left;

  &--loaded {
    animation-name: hide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    transform-origin: left;
  }
}

@keyframes start {
  from { transform: translateY(50%) scaleX(0.1) }
  to { transform: translateY(50%) scaleX(0.75) }
}

@keyframes hide {
  0% { transform: translateY(50%) scale(0.75) }
  50% { transform: translateY(50%) scaleX(1) }
  100% { opacity: 0; }
}